
<span class="loader" *ngIf="authService.getLoading()"></span>
<section class="signup slideInDown">
    <div class="signup__pic">
        <img src="../../../assets/auth/login.svg" alt="Login">
    </div>
    <form class="fields"  #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
        
        <div class="field">
            <label for="username"></label>
            <input type="text" placeholder="Username" pattern="[a-zA-Z0-9_-]{3,20}" name="username" [(ngModel)]="user.username" required>
            <p *ngIf="signupForm.controls['username'].invalid && (signupForm.controls['username'].dirty || signupForm.controls['username'].touched)">
              Username should have at least 3 characters
            </p>
          </div>
        <div class="field">
            <label for="password"></label>
            <input id="password" type="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}" name="password" [(ngModel)]="user.password" required>
            <p *ngIf="signupForm.controls['password'].invalid && (signupForm.controls['password'].dirty || signupForm.controls['password'].touched)">
                Password should have at least 8 characters, one capital letter and at least one special character
            </p>
        </div>
        <button type="submit" >Log In</button>
        <a [routerLink]="['/welcome', 'signup']">Don't Have An Account?!</a>
        <p>Or Log In with</p>
        <div class="icons">
            <img src="../../../assets/socials/google.svg" alt="Google">
            <img src="../../../assets/socials/meta.svg" alt="Meta">
            <img src="../../../assets/socials/twitter.svg" alt="Twitter">
            <img src="../../../assets/socials/linkedin.svg" alt="Linkedin">
        </div>
        <div class="forgot__password">Forgot Password ?!</div>
    </form>
</section>
