.match{
    padding: 1rem;
    display: grid;
    gap: 0.5rem;
    width: 100%;
    margin: auto;
    font-family: Poppins;
    transition: all 300ms ease-in-out;
    background-color: rgb(249, 251, 253);
    margin-bottom: 0.4rem;
    font-family: "Poppins";
}

button{
    background-color: rgb(49, 11, 83);
    color: white;
    border: none;
    outline: none;
    padding: 0.3rem;
    text-align: center;
    min-width: 4rem;
    border-radius: 0.2rem;
    cursor: pointer;
    filter: drop-shadow(-2px 1px 3px #DBE5EC);
}

.head button{
    border-radius: 1rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
}


.match .widgets{
    display: grid;
    gap: 1rem;
    z-index: 20;
}

.match .buttons, .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    z-index: 0;
    /* position: relative; */
}

.match > .buttons{
    gap: 1rem;
}

.head > .view__members{
    position: fixed;
    inset: 0 0 0 auto;
    overflow-y: auto;
    transition: all 200ms ease;
    z-index: 100;
    background-color: white;
    padding: 1rem;
    width: 40vw;
    box-shadow: inset 1px 0 0 0 rgb(238, 238, 240);
}


.view__members > span{
    position: fixed;
    inset: 1rem 1rem auto auto;
    color: white;
    background-color: #230f6d;
    border-radius: 50%;
    padding: 0.2rem;
    cursor: pointer;
    font-weight: 600;
}

@media screen and (max-width: 500px) {
    .head > .view__members{
        position: fixed;
        inset: 0 0 0 0;
        overflow-y: auto;
        transition: all 200ms ease;
        z-index: 100;
        background-color: white;
        padding: 1rem;
        width: calc(100vw - 2rem);
        width: 100vw;
        z-index: 100;
        /* box-shadow: inset 1px 0 0 0 rgb(238, 238, 240); */
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dbdde6;
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #230f6d;
  }


.buttons__links button{
    font-weight: 400;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    min-width: 20%;
    font-size: medium;
    font-family: "Poppins";
    flex-grow: 1;
    margin-top: 0.2rem;
}

.head{
    display: flex;
    /* justify-content: spa; */
}

.img__wrapper{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
    /* border: 0.15rem solid rgb(110, 110, 187); */
    display: grid;
    place-items: center;
}

.img__wrapper img{
    width: 100%;
    height: auto;
}

.head .name{
    color: rgb(110, 110, 187);
}

.coords{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.coords .coord{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    place-items: center;
}

.coord span{
    color: rgb(12, 12, 87);
}

.coord p{
    font-weight: 800;
    font-size: small;
}
.widgets section{
    font-family: 800;
    font-size: smaller;
}

.img__border{
    border: 1px solid violet;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
}

.members{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.members p{
    font-size: small;
    
}

.avas{
    position: relative;
    margin-left: 1rem;
}

.member__ava{
    position: absolute;
    inset: 0 0 0 0;
    margin: 1px;
}


.match__poster img{
    width: 100%;
    height: auto;
    /* border-radius: 0.5rem; */
}
