<div class="match">
    <div class="widgets">
        <div class="head">
            <div class="img__wrapper">
                <img src="../../../../assets/sports/football.svg" alt="Avatar" loading="lazy">
            </div>
            <h4 class="name">GI2 Kesh</h4>
            <button *ngIf="!isAddedToCalendar" (click)="addToCalendar()">
                + To Calendar
            </button>
            <button *ngIf="isAddedToCalendar" (click)="removeFromCalendar()">
                - From Calendar
            </button>
            <button (click)="toggleViewMember()">
                {{isViewMembersOn ? "Hide ": "View "}}Members
            </button>
            <div class="view__members" *ngIf="isViewMembersOn">
                <span class="material-symbols-outlined" (click)="toggleViewMember()">
                    close
                </span>
                <app-player></app-player>
                <app-player></app-player>
                <app-player></app-player>
                <app-player></app-player>
                <app-player></app-player>
            </div>
        </div>
        <div class="coords">
            <div class="coord">
                <span class="material-symbols-outlined">
                    category
                </span>
                <p>{{category}}</p>
            </div>
            <div class="coord">
                <span class="material-symbols-outlined">
                    schedule
                </span>
                <p>{{time}}</p>
            </div>
            <div class="coord">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <p>{{location}}</p>
            </div>
        </div>
        <div class="members">
           <div class="avas">
                <div *ngFor="let url of membersImages; let i = index" class="images img__wrapper img__border member__ava" 
                    [ngStyle]="{'transform': 'translateX(' + (i*80 - 80) + '%)', 'z-index': i}">
                    <img [src]="url" alt="" loading="lazy">
                </div>
           </div>
            <p>{{currentCapacity}}/{{maxCapacity}} Members</p>
        </div>
        <section >Created by {{creatorName}}
            <div class="img__wrapper img__border"><img [src]="creatorImage" [alt]="creatorName"></div> 
        </section>
    </div>
    <div class="buttons buttons__links">
        <button *ngIf="isOwner" (click)="deleteMatch()">Delete</button>
        <button *ngIf="isOwner" (click)="editMatch()">Edit</button>
        <button *ngIf="isMember" (click)="openChat()">Chat</button>
        <button *ngIf="isAddedToCalendar && isMember">Reschedule</button>
    </div>
</div>
