.signup{
    min-height: 74vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    place-items: center;
    margin-top: 1rem;
    /* background-color: #2b1a8d; */
}

.signup > .signup__pic{
    width: 80%;
}


.signup > .signup__pic > img{
    width: 100%;
    height: auto;
}

.fields{
    display: grid;
    place-items: center;
    width: 100%;
    /* gap: 5vh; */

}

.fields > .field {
    width: 80%;
    margin: auto;
    margin-bottom: 1rem;
}

.fields > .field > input{
    width: 100%;
    height: 2rem;
    outline: none;
    border: 0.1rem solid rgb(212, 187, 212);
    padding: 1.3rem 0.4rem;
    font-size: 0.9rem;
}
.fields > .field > input:focus:invalid {
    border: 2px solid red;
    animation: shake 0.5s infinite;
}

.fields > .field > input:focus:valid ~ p{
    opacity: 0;
}

.fields > .field > input:not(:focus):valid ~ p{
    opacity: 0;
}

.field > p{
    font-size: small;
    font-weight: 600;
    color: rgb(148, 149, 218);
}

.fields > button{
    width: calc(80% + 1rem);
    padding: 1rem;
    outline: none;
    border: none;
    transform: translateX(0.5rem);
    background-color: rgb(24, 24, 92);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.fields > .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.icons > img{
    width: 1.7rem;
    height: auto;
    cursor: pointer;
}

.fields > p{
    color: rgb(100, 100, 170);
    font-weight: 800;
}

.fields > a{
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 600;
}

.fields > .forgot__password{
    font-weight: 800;
    color: rgb(160, 135, 201);
    margin: 1rem auto;
    cursor: pointer;
}

@media (max-width: 800px) {
    .signup{
        display: grid;
        grid-template-columns: 1fr;
    }

    .fields{
        margin-top: 4vh;
    }
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #2b1a8d;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: fixed;
    inset: 40vh 50%;
    z-index: 99999;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
  }
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 