<section class="signup">
    <div class="signup__pic">
        <img src="../../../assets/auth/signup.svg" alt="Sign Up">
    </div>
    <form class="fields">
        <div class="field">
            <label for="username"></label>
            <input type="text" placeholder="Username" pattern="[a-zA-Z0-9_-]{3,20}">
            <p>Username should have at least 3 characters</p>
        </div>
        <div class="field">
            <label for="email"></label>
            <input id="email" type="text" placeholder="Email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
            <p>This email is not valid</p>
        </div>
        <div class="field">
            <label for="password"></label>
            <input id="password" type="password" placeholder="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}">
            <p>Password should have at least 8 charcters, one cap and at least one special character</p>
        </div>
        <button (click)="signup()">Sign Up</button>
        <a [routerLink]="['/welcome', 'login']">Already Have An Account?!</a>
        <p>Or Sign Up with</p>
        <div class="icons">
            <img src="../../../assets/socials/google.svg" alt="Google">
            <img src="../../../assets/socials/meta.svg" alt="Meta">
            <img src="../../../assets/socials/twitter.svg" alt="Twitter">
            <img src="../../../assets/socials/linkedin.svg" alt="Linkedin">
        </div>
    </form>
</section>
