.signup{
    min-height: 74vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    place-items: center;
    margin-top: 1rem;
}

.signup > .signup__pic{
    width: 80%;
}


.signup > .signup__pic > img{
    width: 100%;
    height: auto;
}

.fields{
    display: grid;
    place-items: center;
    width: 100%;
    /* gap: 5vh; */

}

.fields > .field {
    width: 80%;
    margin: auto;
}

.fields > .field > input{
    width: 100%;
    height: 2rem;
    outline: none;
    border: 0.1rem solid rgb(212, 187, 212);
    padding: 0.2rem 0.4rem;
    font-size: 0.9rem;
}
.fields > .field > input:focus:invalid {
    border: 2px solid red;
    animation: shake 0.5s infinite;
}

.fields > .field > input:focus:valid ~ p{
    opacity: 0;
}

.fields > .field > input:not(:focus):valid ~ p{
    opacity: 0;
}

.field > p{
    font-size: small;
    font-weight: 600;
    color: rgb(148, 149, 218);
}

.fields > button{
    width: calc(80% + 1rem);
    padding: 1rem;
    outline: none;
    border: none;
    transform: translateX(0.5rem);
    background-color: rgb(24, 24, 92);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.fields > .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.icons > img{
    width: 1.7rem;
    height: auto;
    cursor: pointer;
}

.fields > p{
    color: rgb(100, 100, 170);
    font-weight: 800;
}

.fields > a{
    text-decoration: none;
    margin-top: 1rem;
    font-weight: 600;
}

.fields > .forgot__password{
    font-weight: 800;
    color: rgb(160, 135, 201);
    margin: 1rem auto;
    cursor: pointer;
}











@media (max-width: 800px) {
    .signup{
        display: grid;
        grid-template-columns: 1fr;
    }

    .fields{
        margin-top: 4vh;
    }
}