<!-- component -->
<div class="py-16 slideInUp">  
    <div class="container m-auto px-6 text-gray-500 md:px-12 xl:px-0">
        <div class="mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3">
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Sports for All</h3>
                    <p class="mb-6">
                        Our app is designed to cater to all types of sports, whether you're a football fanatic, a basketball pro, or a tennis enthusiast. With Sports for All, you'll have access to a wide range of sports and services to meet your needs
                    </p>
                    <a [routerLink]="['/welcome', 'signup']" class="block font-medium text-purple-600">Know more</a>
                </div>
                <img src="../../../assets/sports/golf.svg" class="w-2/3 ml-auto -mb-12" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Team Spirit</h3>
                    <p class="mb-6">
                        At the heart of every successful team is a strong sense of camaraderie and team spirit. Our app not only provides a platform for individual athletes to improve their skills and performance, but also fosters a sense of community and belonging among team members
                    </p>
                    <a [routerLink]="['/welcome', 'signup']" class="block font-medium text-purple-600">Know more</a>
                </div>
                <img src="../../../assets/sports/team.svg" class="w-2/3 ml-auto" alt="illustration" loading="lazy" width="900" height="600">
            </div>
            <div class="bg-white rounded-2xl shadow-xl px-8 py-12 sm:px-12 lg:px-8">
                <div class="mb-12 space-y-4">
                    <h3 class="text-2xl font-semibold text-purple-900">Team Communication</h3>
                    <p class="mb-6">
                        Clear and effective communication is key to any successful team. Our app provides athletes and coaches with a streamlined communication platform that makes it easy to stay in touch and on the same page    
                    </p>
                    <a [routerLink]="['/welcome', 'signup']" class="block font-medium text-purple-600">Know more</a>
                </div>
                <img src="../../../assets/sports/messaging.svg" class="w-2/3 ml-auto " alt="illustration" loading="lazy" width="900" height="600">
            </div>
        </div>
    </div>
</div>