<div class="match">
    <div class="widgets">
        <div class="head">
            <div class="img__wrapper"><img src="../../../../assets/sports/football.svg" alt="Avatar"></div>
            <h4 class="name">GI2 Kesh</h4>
            <button>
                Ask To Join
            </button>
        </div>
        <div class="coords">
            <div class="coord">
                <span class="material-symbols-outlined">
                    category
                </span>
                <p>Football</p>
            </div>
            <div class="coord">
                <span class="material-symbols-outlined">
                    schedule
                </span>
                <p>14 July, 5PM</p>
            </div>
            <div class="coord">
                <span class="material-symbols-outlined">
                    location_on
                </span>
                <p>Place X</p>
            </div>
        </div>
        <div class="members">
           <div class="avas">
                <div *ngFor="let i of items;" class="images img__wrapper img__border member__ava" 
                    [ngStyle]="{'transform': 'translateX(' + (i*80 - 80) + '%)', 'z-index': i}">
                    <img [src]="'https://i.pravatar.cc/'+i" [alt]="'Player Avatar # '+i" loading="lazy">
                </div>
           </div>
            <p>7/8 Members</p>
        </div>
        <section >Created by El Ouali 
            <div class="img__wrapper img__border"><img src="https://i.pravatar.cc/11" alt="Avatar" loading="lazy"></div> 
        </section>
    </div>
    <!-- <div class="buttons buttons__links">
        <button>Delete</button>
    </div> -->
</div>

