<form action="" class="new">
    <div class="group">
        <label for="name"></label>
        <input type="text" placeholder="Match Name">
    </div>
    <div class="group">
        <label for="location"></label>
        <input id="location" type="text" placeholder="Location">
    </div>
    <div class="group">
        <label for="time"></label>
        <input id="time" type="date" placeholder="Time">
    </div>
    <div class="group">
        <label for="playerNumber"></label>
        <input id="playerNumber" type="number" placeholder="Number of players">
    </div>
    <div class="group">
        <label for="prize"></label>
        <input type="text" placeholder="Prize">
    </div>
    <div class="group">
        <label for="duration"></label>
        <input id="duration" type="number" placeholder="Duration in hours">
    </div>
    <button type="submit">Add</button>
</form>
