<div class="conversation">
    <div class="header">
        <div class="img__name">
            <div class="image__wrapper"><img src="https://i.pravatar.cc/200" alt="Group Avatar"></div>
            <div class="title__time">
                <h5>Kesh Kora Gang</h5>
                <div class="time">Last message was sent at 2 PM sunday last week</div>
            </div>
        </div>
        <div class="more">
            <!-- <span class="material-symbols-outlined">expand_more</span> -->
            <div class="members">7 members</div>
        </div>
    </div>
    <div class="chat__msgs">
        <div class="message your__card">
            <div class="message__header">
                <div class="image__wrapper mg__image"><img src="https://i.pravatar.cc/100" alt=""></div>
                <p>El Ouali</p>
            </div>
            <p class="text your__message">I like this plateform I can't wait to see the next version, they say it's gold!</p>
            <p class="time__stamp">23/02/23 3PM</p>
        </div>
        <div class="message my__card">
            <div class="message__header">
                <div class="image__wrapper mg__image"><img src="https://i.pravatar.cc/100" alt=""></div>
                <p>El Ouali</p>
            </div>
            <p class="text my__message">I like this plateform I can't wait to see the next version, they say it's gold!</p>
            <p class="time__stamp">23/02/23 3PM</p>
        </div>
        <div class="message my__card">
            <div class="message__header">
                <div class="image__wrapper mg__image"><img src="https://i.pravatar.cc/100" alt=""></div>
                <p>El Ouali</p>
            </div>
            <p class="text my__message">I like this plateform I can't wait to see the next version, they say it's gold!</p>
            <p class="time__stamp">23/02/23 3PM</p>
        </div>
        <div class="message your__card">
            <div class="message__header">
                <div class="image__wrapper mg__image"><img src="https://i.pravatar.cc/100" alt=""></div>
                <p>El Ouali</p>
            </div>
            <p class="text your__message">I like this plateform I can't wait to see the next version, they say it's gold!</p>
            <p class="time__stamp">23/02/23 3PM</p>
        </div>
    </div>
    <form class="send__form">
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <span class="material-symbols-outlined">send</span>
    </form>
</div>
