<section class="player">
    <header>
        <div class="img__wrapper">
            <img src="https://i.pravatar.cc/111" alt="Player Avatar" loading="lazy">
        </div>
        <h4 class="username">{{username}}</h4>
        <button>Add To Match</button>
    </header>
    
    <div class="main">
        <p class="rate">{{rate}} Rate</p>
        <p class="matches__number">{{matchesNumber}} Matches</p>
        <p class="position">{{position}}</p>
        <p class="location">{{location}}</p>
    </div>

    <p class="bio">
        {{description}}
    </p>

    <p class="joined__on">Joined On {{createdAt | date:"mediumDate"}}</p>
</section>
