<section class="player">
    <header>
        <div class="img__wrapper">
            <img src="https://i.pravatar.cc/111" alt="Player Avatar" loading="lazy">
        </div>
        <h4 class="username">John Smith</h4>
        <button>Add To Match</button>
    </header>
    
    <div class="main">
        <p class="rate">8.9 Rate</p>
        <p class="matches__number">73 Matches</p>
        <p class="position">Goalkeeper</p>
        <p class="location">Marrakesh</p>
    </div>

    <p class="bio">
        John Smith, professional football player ⚽️ | New York Jets 🏆 | Goalkeeper: #1 | American 🇺🇸 | Follow my journey on and off the pitch 🙌🏼
    </p>

    <p class="joined__on">Joined On The 5th December, 2020</p>
</section>
