<div class="loaders" *ngIf="homeService.getLoading() | async">
    <span class="background__loader"></span>
    <span class="background__loader"></span>
    <span class="background__loader"></span>
</div>
<section class="home fadeIn">
    <header>
        <div class="ava__username">
            <div class="ava__wrapper"><img src="../../assets/sports/soccer.svg" alt="Avatar"></div>
            <p class="username">{{(homeService.getPlayer() | async)?.username}}</p>
        </div>
        <form class="search shadow shadow-slate-300 flex-1 py-6" (submit)="search($event)">
            <input class="px-2" type="text" placeholder="Search matches, players..." [value]="searchTerm" (input)="onSearchInput($event)">
            <!-- <button type="button" (click)="toggleFilter()" class="m-auto grid place-items-center">
                <span *ngIf="isFilterClosed" class="material-symbols-outlined">tune</span>
                <span *ngIf="!isFilterClosed" class="material-symbols-outlined">close</span>
            </button> -->
            <button type="submit" class="m-auto grid place-items-center">
                <span class="material-symbols-outlined">search</span>
            </button>
            <!-- <app-filters *ngIf="!isFilterClosed"></app-filters> -->
            <div *ngIf="isTypingAtSearch" #myDiv>
                <app-completions [currentSuggestion]="searchTerm" (dispatchSuggestion)="setSearchTerm($event)" [suggestions]="completions"></app-completions>
            </div>
        </form>
        <div *ngIf="isPhoneviewed" class="burger">
            <span *ngIf="!isBurgerOpen" class="material-symbols-outlined" (click)="toggleBurger()">menu</span>
            <span *ngIf="isBurgerOpen" class="material-symbols-outlined" (click)="toggleBurger()">close</span>
            <div *ngIf="isBurgerOpen" class="links slideInRight">
                <span class="material-symbols-outlined" (click)="toggleBurger()">close</span>
                <div class="links__center">
                    <a [routerLink]="['/home', 'my-matches']" (click)="toggleBurger()" routerLinkActive="active-link">
                        <span class="material-symbols-outlined">sports_soccer</span>
                        <span class="text">My Matches</span>
                    </a>
                    <a [routerLink]="['/home', 'suggestions']" (click)="toggleBurger()" routerLinkActive="active-link">
                        <span class="material-symbols-outlined">assistant</span>
                        <span class="text">Suggestions</span>
                    </a>
                    <a [routerLink]="['/home', 'players-circle']" (click)="toggleBurger()" routerLinkActive="active-link">
                        <span class="material-symbols-outlined">diversity_2</span>
                        <span class="text">Your Circle</span>
                    </a>
                    <a [routerLink]="['/home', 'profile']" (click)="toggleBurger()" routerLinkActive="active-link">
                        <span class="material-symbols-outlined">person</span>
                        <span class="text">Profile</span>
                    </a>
                    <a [routerLink]="['/home', 'settings']" (click)="toggleBurger()" routerLinkActive="active-link">
                        <span class="material-symbols-outlined">settings</span>
                        <span class="text">Settings</span>
                    </a>
                    <a [routerLink]="['/home', 'settings']" (click)="toggleBurger()" routerLinkActive="active-link">
                        <span class="material-symbols-outlined">dark_mode</span>
                        <span class="text">Theme</span>
                    </a>
                </div>
                <p>Get The App Or View Our Pages</p>
                <div class="links__top__right__mini">
                    <img src="../../assets/../assets/socials/google-play-store.svg" alt="Play Store">
                    <img src="../../assets/../assets/socials/app-store.svg" alt="App Store">
                    <img src="../../assets/../assets/socials/instagram.svg" alt="Insagram">
                    <img src="../../assets/../assets/socials/meta.svg" alt="Meta">
                </div>
                <p>© 2023 Sportz, Inc. All rights reserved.</p>
            </div>
        </div>
        <nav *ngIf="!isPhoneviewed">
            <a [routerLink]="['/home', 'feed']" routerLinkActive="active-link">
                <span class="material-symbols-outlined">home</span>
                <span class="text">Feed</span>
            </a>
            <a [routerLink]="['/home', 'new']" routerLinkActive="active-link">
                <span class="material-symbols-outlined">add</span>
                <span class="text">New</span>
            </a>
            <a [routerLink]="['/home', 'chats']" routerLinkActive="active-link" class="notificatons__web">
                <span class="material-symbols-outlined">chat</span>
                <span class="text">Chat Rooms</span>
            </a>
            <a [routerLink]="['/home', 'notifications']" routerLinkActive="active-link" class="notificatons__web">
                <span class="material-symbols-outlined">notifications</span>
                <span class="text">Notifications</span>
            </a>
        </nav>
    </header>
    <section class="browser">
        <div class="side__bar" *ngIf="!isPhoneviewed">
            <div class="links__top__left">
                <a [routerLink]="['/home', 'my-matches']" (click)="toggleBurger()" routerLinkActive="active-link-bar">
                    <span class="material-symbols-outlined">sports_soccer</span>
                    <span class="text">My Matches</span>
                </a>
                <a [routerLink]="['/home', 'calendar']" (click)="toggleBurger()" routerLinkActive="active-link-bar">
                    <span class="material-symbols-outlined">calendar_month</span>
                    <span class="text">Calendar</span>
                </a>
                <a [routerLink]="['/home', 'players-circle']" (click)="toggleBurger()" routerLinkActive="active-link-bar">
                    <span class="material-symbols-outlined">diversity_2</span>
                    <span class="text">Players Circle</span>
                </a>
                <a [routerLink]="['/home', 'suggestions']" (click)="toggleBurger()" routerLinkActive="active-link-bar">
                    <span class="material-symbols-outlined">assistant</span>
                    <span class="text">Suggestions</span>
                </a>
                <a [routerLink]="['/home', 'profile']" (click)="toggleBurger()" routerLinkActive="active-link-bar">
                    <span class="material-symbols-outlined">person</span>
                    <span class="text">Profile</span>
                </a>
            </div>
            <div class="links__bottom__left">
                <span class="material-symbols-outlined">dark_mode</span>
                <span class="material-symbols-outlined">settings</span>
            </div>
            
        </div>
        <div class="main__browser" ><router-outlet></router-outlet></div>
        <div class="side__bar" *ngIf="!isPhoneviewed">
            <div class="links__top__right">
                <img src="../../assets/../assets/socials/google-play-store.svg" alt="Play Store">
                <img src="../../assets/../assets/socials/app-store.svg" alt="App Store">
                <img src="../../assets/../assets/socials/instagram.svg" alt="Insagram">
                <img src="../../assets/../assets/socials/meta.svg" alt="Meta">
            </div>
            <div class="links__bottom__right">
                <p class="links__bottom__right">© 2023 Sportz, Inc. All rights reserved.</p>
            </div>
        </div>
    </section>
    <div class="navigator" *ngIf="isPhoneviewed" >
        <a [routerLink]="['/home', 'feed']" routerLinkActive="active-link">
            <span class="material-symbols-outlined">home</span>
        </a>
        <a [routerLink]="['/home', 'new']" routerLinkActive="active-link">
            <span class="material-symbols-outlined">add</span>
        </a>
        <a [routerLink]="['/home', 'chats']" routerLinkActive="active-link" class="notificatons__mobile">
            <span class="material-symbols-outlined">chat</span>
        </a>
        <a [routerLink]="['/home', 'notifications']" routerLinkActive="active-link" class="notificatons__mobile">
            <span class="material-symbols-outlined">notifications</span>
        </a>
        <a [routerLink]="['/home', 'calendar']" routerLinkActive="active-link">
            <span class="material-symbols-outlined">calendar_month</span>
        </a>
    </div>
</section>

<div *ngIf="matchesService.getLoading()" class="fixed top-0 left-0 right-0 bottom-0 flex items-center justify-center z-50 bg-transparent">
    <span class="loader"></span>
</div>
  
  
  

