.home{
    padding: 1rem;
    font-family: Poppins;
    overflow: hidden;
    background-color: rgb(253, 255, 255);
    margin-bottom: 0;
}

.search{
    /* border: 0.2rem solid rgb(176, 176, 219); */
    padding: 0.5rem 0.2rem;
    position: relative;
    border-radius: 1rem;
    display: grid;
    place-items: center;
}



.search > input{
    outline: none;
    border: none;
    font-size: 1rem;
    width: 100%;
    max-width: 100%;
    border-radius: 1rem;
}

.search > button{
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    border-radius: 1rem;
}
.home header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
header form{
    width: 60vw;
    display: grid;
    grid-template-columns: 1fr auto auto;
    /* border: 0.1rem solid rgb(176, 176, 219); */
    max-width: 30rem;
    place-items: center;
    margin: 0 0.5rem;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    gap: 2rem;
}

nav >a{
    display: grid;
    place-items: center;
    gap: 0.5rem;
    grid-template-columns: auto auto;
    text-decoration: none;
    white-space: nowrap;
}

a > span{
    font-weight: 600;
    border-radius: 1rem;
}

nav > .active-link{
    /* padding: 0.3rem; */
    border-radius: 0.3rem;
    transition: all 200ms ease-in;
    font-weight: bold;
    border: 1px solid rgb(205, 179, 230);
    border-radius: 1rem;
    padding-inline: 0.5rem;
    /* background-color: #230f6d;
    color: white; */
}

.active-link .text{
    font-weight: 400;
}

.browser{
    display: grid;
    grid-template-columns: 20% 1fr 20%;
    padding-top: 1rem;
    gap: 1rem;
}

.browser .main__browser{
    width: 100%;
    /* height: 200vh; */
    overflow-y: auto;
    max-height: 82vh;
}

.browser .side__bar{
    width: 100%;
    /* height: fit-content; */
    max-height: 80vh;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    .home{
        display: grid;
        grid-template-rows: auto 1fr auto;
        overflow: hidden;
        height: 92vh;
        min-height: 92vh;
        max-height: 92vh;
    }
    .browser{
        display: flex;
        flex-direction: column;
        height: 100%;
        min-height: 100%;
    }

    .browser .side__bar{
        display: none;
    }

    .home header{
        flex-wrap: wrap;
    }

    .header nav{
        margin: auto;
        width: 100%;
    }

    .main__browser{
        height: 100%;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #dbdde6;
    border-radius: 1rem;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #230f6d;
  }

  .burger > span{
    font-size: 2rem;
    cursor: pointer;
    color: #a58ef1;
    margin: auto;
  }

.burger{
    position: relative;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    z-index: 99999999;
}

.burger > .links{
    position: fixed;
    inset: 0 0 0 0;
    width: 100vw;
    overflow-y: auto;
    display: grid;
    place-items: center;
    z-index: 100;
    background-color: rgb(19, 19, 99);
}

.links > span{
    color: white;
}

.links > .links__center{
    width: max-content;
    display: grid;
    gap: 1rem;
}

.links__center > a{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    text-decoration: none;
}

.links__center > a > .material-symbols-outlined{
    font-size: 2rem;
    color: white;
    font-weight: 500;
}
.links__center > a > .text{
    font-size: 1.2rem;
    color: white;
    font-weight: 500;
    align-self: auto;
}

.home > .navigator{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    /* padding-bottom: 0.5rem; */
    z-index: 99999;
    
}
.navigator > a{
    padding-top: 0.5rem;
}

.navigator > a.active-link{
    /* outline: 0.1rem solid rgb(178, 165, 228); */
    border-radius: 50%;
    /* padding: 0.2rem; */
    display: grid;
    place-items: center;
    text-decoration: none;
    color: #7a62d1;
}

.navigator > a > span{
    font-size: 1.8rem;
    padding-top: 0.5rem;
    color: blue;

}

.browser > .side__bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}


.side__bar > .links__top__left{
    display: grid;
    gap: 1rem;

}

.side__bar > div > a{
    display: grid;
    grid-template-columns: auto 1fr;
    /* place-items: center; */
    gap: 1rem;
}
.links__top__left a{
    text-decoration: none;
}

.side__bar > div > a > .material-symbols-outlined{
    font-weight: 800;
    font-size: 2rem;
}

.side__bar > .links__top__right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.links__top__right::before{
    content: "Get The App Or View Our Pages";
    display: block;
    margin-right: 1rem;
    font-size: medium;
    font-weight: 800;
    color: blue;
    width: 100%;
    margin-bottom: 1rem;
}

.links__top__right > img{
    width: 2rem;
    height: auto;
    cursor: pointer;
}

.side__bar > .links__bottom__left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: max-content;
    gap: 1rem;
}

.side__bar > .links__bottom__right > p{
    font-weight: 500;
    color: #9e8ddb;
}

.active-link-bar{
    color: #a397ce;
}

.links__top__right__mini{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links__top__right__mini > img{
    width: 2.5rem;
    height: auto;
    margin-right: 1rem;
}

.links > p{
    color: #9e8ddb;
}

.notificatons__web, .notificatons__mobile{
    position: relative;
    display: flex;
}

.notificatons__mobile::after, .notificatons__web::after{
    box-shadow: 1px 1px 1px rgba(196, 195, 197, 0.8);

}

.notificatons__web::after{
    content: attr(notsNum);
    background-color: red;
    color: white;
    border-radius: 1rem;
    position: absolute;
    inset: -90% 0 auto auto;
    padding: 0.1rem 0.4rem;
    font-size: small;
    font-weight: 900;
    display: grid;
    place-items: center;
}
.notificatons__mobile::after{
    content: '20';
    background-color: red;
    color: white;
    border-radius: 1rem;
    position: absolute;
    inset: 10% -50% auto auto;
    padding: 0.1rem 0.2rem;
    font-size: small;
    font-weight: 900;
    display: grid;
    place-items: center;
}

a{
    text-decoration: none;
}

a > .text{
    font-weight: 400;
    font-family: Poppins;
}

header > .username{
    font-weight: 600;
    line-break: initial;
}

.ava__username {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    place-items: center;
    
}

.ava__username > .username{
    white-space: nowrap;
}

.ava__username > .ava__wrapper{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-items: center;
    border: 0.1rem solid violet;
}

.ava__wrapper img{
    width: 100%;
    height: auto;
}