<section class="about slideInUp">
    <div class="container">
        <div class="row mx-auto grid gap-6 md:w-3/4 lg:w-full lg:grid-cols-3 px-8 py-12 sm:px-12 lg:px-8">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://media.licdn.com/dms/image/D4E03AQE3d2b7tCzG2g/profile-displayphoto-shrink_100_100/0/1676728695506?e=1689206400&v=beta&t=kuJzLOCcMTjKfy9FZDVjUHfNMr2Ag38TskzAcIeUqrA">
              </div>
              <div class="team-content">
                <h3 class="name">EL Ouali Mohammed</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"><img src="../../../assets/socials/meta.svg" alt="Meta"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"><img src="../../../assets/socials/twitter.svg" alt="Twitter"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"><img src="../../../assets/socials/linkedin.svg" alt="Linkedin"></a></li>
              </ul>
            </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://media.licdn.com/dms/image/C4D03AQHgy09TcXqZ8A/profile-displayphoto-shrink_100_100/0/1621482009461?e=1689206400&v=beta&t=RqdVTLmGZ9CawuUMplOH00faZ1inytisigT1kaIGcOM">
              </div>
              <div class="team-content">
                <h3 class="name">Zakaria Latif</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"><img src="../../../assets/socials/meta.svg" alt="Meta"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"><img src="../../../assets/socials/twitter.svg" alt="Twitter"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"><img src="../../../assets/socials/linkedin.svg" alt="Linkedin"></a></li>
              </ul>
            </div>
            </div>
            
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="our-team">
              <div class="picture">
                <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
              </div>
              <div class="team-content">
                <h3 class="name">Nizar</h3>
                <h4 class="title">Web Developer</h4>
              </div>
              <ul class="social">
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"><img src="../../../assets/socials/meta.svg" alt="Meta"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"><img src="../../../assets/socials/twitter.svg" alt="Twitter"></a></li>
                <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"><img src="../../../assets/socials/linkedin.svg" alt="Linkedin"></a></li>
              </ul>
            </div>
            </div>
            
        </div>
      </div>
</section>
