<div class="notification">
    <div class="header">
        <h4><span># </span>{{label}}</h4>
        <p>
            <span class="material-symbols-outlined">schedule</span>
            <span>{{timeStamp | date:"medium"}}</span>
        </p>
    </div>
    <p class="description">{{description}}</p>
    <div class="actions__wrapper">
        <div class="actions" *ngIf="isAction">
            <button>Accept</button>
            <button>Refuse</button>
        </div>
        <div class="delete">
            <span class="material-symbols-outlined">
                delete
                </span>
        </div>
    </div>
</div>
